@font-face {
    font-family: 'Inter';
    src: local('Inter-VariableFont_slnt_wght'),
         url('/fonts/inter/Inter-VariableFont_slnt_wght.woff2') format('woff2-variations'),
         url('/fonts/inter/Inter-VariableFont_slnt_wght.ttf') format('truetype');
    font-display: swap;
    font-weight: 100 900;
    font-style: oblique 0deg 20deg;
}

:root {
    --colorMain: 216, 100%, 45%;
    --module: 16px;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    height: 100%;
	width: 100%;
    background-color: white;
    font-size: 16px;
    color: hsla(0, 0%, 16%, 1);
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    padding: 0 16px;
}
.img {
    max-width: 100%;
}

/* BUTTONS */
.button {
    display: inline-block;
    padding: .8em 2.4em;
    font-weight: 600;
    border-radius: .4em;
    text-transform: uppercase;
    letter-spacing: .02em;
    white-space: nowrap;
    text-align: center;
    line-height: inherit;
    background-color: transparent;
    border: none;
}
.button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 4px hsla(var(--colorMain) 1);
}
.button--sizeS {
    font-size: .75em;
}
.button--sizeM {
    font-size: 1em;
}
.button--sizeL {
    font-size: 1.25em;
}
.button--sizeXL {
    font-size: 1.75em;
}
.button--main {
    background-color: hsla(var(--colorMain) 1);
    color: white;
}
.button--second {
    border: 1px solid hsla(var(--colorMain) 1);
    color: hsla(var(--colorMain) 1);
}

/* UTILITY */
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    background: hsla(0, 0%, 95%, 1);
}

/* TEXT */
.title {
    font-weight: 800;
    letter-spacing: .02em;
}
.title--h1 {
    font-size: 3rem;
}
.subtitle {
    font-weight: 600;
}
.paragraph {
    line-height: 1.5;
}
.paragraph--italic {
    font-weight: 300;
    font-style: oblique 20deg;
}
.caption {
    font-weight: 450;
}


/* ADAPTIVE */
