extends /src/markup/base

block append vars
	-
		curpage = 'contacts';
		pageTitle = self.title.contacts[curlang];

block append meta
	meta(name='description' content='Contacts of Dima Radushev')

block append styles
	link(rel='stylesheet' href='/css/pages/contacts.css')

block append scripts
	script(src='/js/pages/contacts.js')

block header
	include ../../blocks/contacts/header

block content
	include ../../blocks/contacts/main
	include ../../blocks/contacts/form
