@use '../utils' as *;

@include font-face('MuseoSansCyrl-700');

.body {
	background-color: #333;
}

// .body__inner {}

// .text {
// 	font-family: 'Museo Sans Cyrl 700';
// 	font-size: 1rem;
// }

.wrapper {
	max-width: 1200;
	margin: 0 auto;
	padding: 0 32px;
}

@media screen and (max-width: 767px) {
	.wrapper {
		padding: 0 16px;
	}
}
