@use '../utils' as *;
@use 'sass:map' as m;
@use 'sass:list' as l;
@use 'sass:meta' as mm;

@import url($font-url);
@include font-face($title-font700);

// @debug mm.type-of(l.nth(m.keys($font-weghts), 2));

.body {
	background-color: #333;
	font-family: $plain-font, 'Arial', 'sans-serif';
	color: $gray40;
}

// .body__inner {}

.wrapper {
	max-width: 1200;
	margin: 0 auto;
	padding: 0 32px;
}

@media screen and (max-width: 767px) {
	.wrapper {
		padding: 0 16px;
	}
}
