@use '../utils' as *;
@use 'nav' as *;

@import url($font-url);
@include font-face($title-font700);

.body {
	min-height: 100vh;
	background-color: white;
	font-family: $plain-font, sans-serif;
	font-size: calc(14px / 16px * 1rem);
	color: $gray40;
}

.body__inner {
	display: flex;
	flex-direction: column;
	padding: 0 12px;
}

.title {
	font-family: $title-font700, sans-serif;
}

.subtitle {
	font-family: $title-font100, sans-serif;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

@include nav;

@media screen and (max-width: 767px) {
}
