@use '../../utils' as *;
@use 'sass:list';
@use 'sass:string';
@use 'sass:map';

$-specializing-items: (
	'item1': 'circle; #{$red}',
	'item2': 'triangle; #{$yellow}',
	'item3': 'circle; #{$teal}',
	'item4': 'rectangle; #{$red}',
	'item5': 'triangle; #{$violet}',
);

@mixin myclients {
	.myclients-list {
		display: grid;
		gap: 24px;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 48px;
	}

	.myclients-item {
		padding: 24px;
		border: 1px solid $gray90;
		border-radius: 2px;
		background-color: white;
		@media (pointer: fine) {
			transition: filter $dur;
			filter: grayscale(1);
			&:hover {
				filter: grayscale(0);
			}
		}
	}

	.specializing {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		padding-top: 24px;
		border-top: 1px solid $gray95;
	}

	.specializing-title {
		text-align: center;
	}

	.specializing-list {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.specializing-item {
		gap: 12px;
	}

	@each $key-item, $item in $-specializing-items {
		.specializing-#{$key-item} {
			&::before {
				@include shape-render(list.nth(string.split($item, '; '), 1));
				color: string.unquote(list.nth(string.split($item, '; '), 2));
			}
		}
	}

	@media (min-width: map.get($bp, 'mobile3/3')) {
		.myclients-list {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media (min-width: map.get($bp, 'tablet2/3')) {
		.myclients-list {
			grid-template-columns: repeat(6, 1fr);
		}

		.specializing-list {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	@media (min-width: map.get($bp, 'laptop1/3')) {
		.specializing {
			flex-direction: row;
		}

		.specializing-title {
			text-align: left;
		}

		.specializing-list {
			align-items: flex-start;
			flex-grow: 1;
			flex-wrap: nowrap;
			gap: 16px;
		}
	}
}
