@use '../../utils' as *;
@use 'sass:map';

@mixin results {
	.results-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 48px 24px;
	}

	.results-item {
		$dur: 0.3s;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid $gray90;
		text-align: center;
		&::before {
			margin-bottom: 24px;
			font-size: 65px;
			color: $gray50;
		}
		&::after {
			content: '';
			height: 1px;
			width: 0;
			margin: 24px auto 0;
			background-color: $gray50;
			transform-origin: center;
			transition: width $dur;
		}
		@media (pointer: fine) {
			&:hover::after {
				width: 100%;
			}
		}
	}

	.results-item-subtitle {
		margin-bottom: 20px;
		hyphens: auto;
	}

	.results-item-desc {
		margin-top: auto;
		text-transform: none;
	}

	@media (min-width: map.get($bp, 'tablet1/3')) {
		.results-list {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media (min-width: map.get($bp, 'tablet3/3')) {
		.results-list {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}
