@use '../../utils' as *;
@use 'sass:color';
@use 'sass:string';
@use 'sass:list';

$-services-items: (
	'item1': (
		'desc1': 'rectangle; #{$violet}',
		'desc2': 'circle; #{$teal}',
		'desc3': 'triangle; #{$yellow}',
		'desc4': 'rectangle; #{$red}',
	),
	'item2': (
		'desc1': 'triangle; #{$yellow}',
		'desc2': 'circle; #{$violet}',
		'desc3': 'rectangle; #{$teal}',
		'desc4': 'triangle; #{$red}',
	),
	'item3': (
		'desc1': 'circle; #{$red}',
		'desc2': 'triangle; #{$yellow}',
		'desc3': 'rectangle; #{$teal}',
		'desc4': 'circle; #{$violet}',
	),
);

@mixin services {
	.services-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 48px;
	}

	.services-item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@each $key-item, $item in $-services-items {
		.services-#{$key-item} {
			@each $key-desc, $desc in $item {
				.services-item__#{$key-desc} {
					&::before {
						@include shape-render(list.nth(string.split($desc, '; '), 1));
						color: string.unquote(list.nth(string.split($desc, '; '), 2));
					}
				}
			}
		}
	}

	.services-item__img-box {
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 1;
		margin-bottom: 24px;
		border-radius: 50%;
		background-color: color.change($violet, $alpha: 0.08);
	}

	.services-item__title {
		margin-bottom: 24px;
	}

	.services-item__desc-list {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 32px;
	}

	.services-item__desc {
		display: flex;
		gap: 12px;
		align-items: center;
		&::before {
			@include shape;
			flex-shrink: 0;
			width: 24px;
			transition: translate $dur;
		}
		@media (pointer: fine) {
			&:hover::before {
				background-color: currentColor;
				translate: 0 -3px;
			}
		}
	}

	.services-item__btn {
		width: 100%;
	}
}
