@use '../../utils' as *;
@use 'sass:map';

@mixin testimonials {
	:root {
		--testimonials-slider-pinline: 24px;
	}

	.testimonials-slider {
		margin-bottom: 24px;
		padding: 24px var(--testimonials-slider-pinline);
		border: 1px solid $gray90;
		border-radius: 2px;
		background-color: white;
	}

	.testimonials-slider-item {
		width: 100%;
		scroll-margin: var(--testimonials-slider-pinline);
		opacity: 0.1;
		transition: opacity $dur;
		&.is-current {
			opacity: 1;
		}
	}

	.testimonials-item-img {
		width: 102px;
		aspect-ratio: 1;
		margin-bottom: 12px;
		border: 1px solid $gray90;
		border-radius: 50%;
	}

	.testimonials-item-title {
		margin-bottom: 6px;
	}

	.testimonials-item-caption {
		margin-bottom: 24px;
	}

	.testimonials-item-desc {
		line-height: 1.5;
	}

	@media (min-width: map.get($bp, 'tablet1/3')) {
		:root {
			--testimonials-slider-pinline: 48px;
		}

		.testimonials-slider {
			padding: 48px var(--testimonials-slider-pinline) 60px;
		}
	}

	@media (min-width: map.get($bp, 'tablet2/3')) {
		:root {
			--testimonials-slider-pinline: 194px;
		}

		.testimonials-slider {
			padding: 48px var(--testimonials-slider-pinline) 72px;
		}
	}
}
