@use '../../utils' as *;

$-slider-p: 24px;

@mixin testimonials {
	.testimonials-slider {
		margin-bottom: 24px;
		padding: $-slider-p;
		border: 1px solid $gray90;
		border-radius: 2px;
		background-color: white;
	}

	.testimonials-slider__item {
		width: 100%;
		scroll-margin: $-slider-p;
		opacity: 0.1;
		transition: opacity $dur;
		&.is-current {
			opacity: 1;
		}
	}

	.testimonials-item__img {
		width: 102px;
		aspect-ratio: 1;
		margin-bottom: 12px;
		border: 1px solid $gray90;
		border-radius: 50%;
	}

	.testimonials-item__title {
		margin-bottom: 6px;
	}

	.testimonials-item__caption {
		margin-bottom: 24px;
	}

	.testimonials-item__desc {
		line-height: 1.5;
	}

	.testimonials-slider__bullets {
		display: flex;
		justify-content: center;
		gap: 48px;
	}

	.testimonials-slider__bullet {
		overflow: hidden;
		width: 24px;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: $gray90;
		line-height: 0;
	}

	.testimonials-slider__bullet-btn {
		opacity: 0;
		transition: opacity $dur;
		width: 100%;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: $violet;
		font-size: 0;
		&.is-current {
			opacity: 1;
		}
	}
}
