@use '../../utils' as *;
@use 'sass:map';

@mixin testimonials {
	:root {
		--slider-pinline: 24px;
	}

	.testimonials-slider {
		margin-bottom: 24px;
		padding: 24px var(--slider-pinline);
		border: 1px solid $gray90;
		border-radius: 2px;
		background-color: white;
	}

	.testimonials-slider-item {
		width: 100%;
		scroll-margin: var(--slider-pinline);
		opacity: 0.1;
		transition: opacity $dur;
		&.is-current {
			opacity: 1;
		}
	}

	.testimonials-item-img {
		width: 102px;
		aspect-ratio: 1;
		margin-bottom: 12px;
		border: 1px solid $gray90;
		border-radius: 50%;
	}

	.testimonials-item-title {
		margin-bottom: 6px;
	}

	.testimonials-item-caption {
		margin-bottom: 24px;
	}

	.testimonials-item-desc {
		line-height: 1.5;
	}

	.testimonials-slider-bullets {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
	}

	.testimonials-slider-bullet {
		line-height: 0;
	}

	.testimonials-slider-bullet-btn {
		transition:
			scale $dur,
			background-color $dur;
		width: 12px;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: $gray90;
		font-size: 0;
		line-height: 0;
		&.is-current {
			scale: calc(14px / 12px);
			background-color: $violet;
		}
	}

	@media (min-width: map.get($bp, 'tablet1/3')) {
		:root {
			--slider-pinline: 48px;
		}

		.testimonials-slider {
			padding: 48px var(--slider-pinline) 60px;
		}
	}

	@media (min-width: map.get($bp, 'tablet2/3')) {
		:root {
			--slider-pinline: 194px;
		}

		.testimonials-slider {
			padding: 48px var(--slider-pinline) 72px;
		}
	}
}
