section.section-advantages.section
	.wrapper
		.section-body
			h2.section-advantages-title.section-title.title.title-2.title-line= self.advantages.title[curlang]

			p.section-advantages-desc.section-desc= self.advantages.desc[curlang]

			ul.advantages-list
				each item, key in self.advantages
					if key.startsWith('item')
						li.advantages-item.subtitle(class=`icon-advantages-${key}`)= item.desc[curlang]
