
section.section-advantages.section.section-bg
	.wrapper
		.section__body
			h2.section-advantages__title.section__title.title.title-2.title-line= self.advantages.title[curlang]

			p.section-advantages__desc.section__desc= self.advantages.desc[curlang]

			ul.advantages-list