
section.section-myportfolio.section.section-bg
	.wrapper
		.section__body
			h2.section-myportfolio__title.section__title.title.title-2.title-line= self.myportfolio.title[curlang]

			p.section-myportfolio__desc.section__desc= self.myportfolio.desc[curlang]

			ul.myportfolio-list
				each item, key in self.myportfolio
					if key.startsWith('item')
						li.myportfolio-item= item.desc[curlang]