section.section-testimonials.section.section-bg
	.wrapper
		.section__body
			//- h2.section-testimonials__title.section__title.title.title-2.title-line= self.testimonials.title[curlang]

			//- p.section-testimonials__desc.section__desc= self.testimonials.desc[curlang]

			.testimonials-slider
