nav.nav
	ul.nav__list
		for text, address in self.nav
			li.nav__item
				if address === 'home'
					a.nav__link(href='/')= text[curlang]
				else
					a.nav__link(href=`/${address}.html`)= text[curlang]