nav.nav
	ul.nav__list
		for text, name in self.nav
			li.nav__item
				if name === 'home'
					a.nav__link.icon-home(href='/')= text[curlang]
				else
					a.nav__link(class=`icon-${name}`, href=`/${name}.html`)= text[curlang]