.text {
    font-size: 40px;
	font-family: sans-serif;
	color: blue;
}
.header {
	height: 200px;
	background: url('/media/mtiLogo240.png') center / 200px no-repeat;
}
.header-img {
	width: 200px;
}
.list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 40px;
	background-color: hsla(0, 0%, 90%, 1);
	.list__item {
		font-size: 40px;
		color: purple;
		&:last-child::before {
			content: '';
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: currentColor;
		}
	}
}

@media screen and (max-width: 767px) {
	// .header-img {}
}

@media screen and (max-width: 767px) {
	.list {
		display: flex;
	}
}