extends /src/markup/base

block append vars
	-
		curpage = 'education';
		pageTitle = self.title.education[curlang];


block append meta
	meta(name='description' content='Education of Dima Radushev')

block append styles
	link(rel='stylesheet' href='/css/pages/education.css')

block append scripts
	script(src='/js/pages/education.js')

block header
	include ../../blocks/education/header

block content
	include ../../blocks/education/main
	include ../../blocks/education/books
