.portfolio-project-gallery
	h4.portfolio-project-gallery-title.subtitle.shape= self.portfolio.homePage[curlang]

	figure.portfolio-project-gallery-figure
		img.portfolio-project-galley-img.img(
			src='/media/axasLandingPage.jpg'
			alt='full screen image of a landing page for axas project designed by Dima Radushev'
		)
