extends /src/markup/base

block append vars
	-
		curpage = 'experience';
		pageTitle = self.title.experience[curlang];


block append meta
	meta(name='description' content='Experience and carrier of Dima Radushev')

block append styles
	link(rel='stylesheet' href='/css/pages/experience/experience.css')

block header
	include ../../blocks/experience/header

block content
	include ../../blocks/experience/main
	include ../../blocks/experience/brands
