$dur: 0.3s;

@mixin overflow($state: hidden) {
	@if $state != hidden and $state != visible {
		@error 'Only "hidden" or "visible" arguments are possible';
	}

	@keyframes #{if(sass($state == hidden): hidden; else: visible)} {
		from {
			overflow: if(sass($state == hidden): hidden; else: visible);
		}
		#{if(sass($state == hidden): 99%; else: 1%)} {
			overflow: visible;
		}
		to {
			overflow: if(sass($state == hidden): hidden; else: visible);
		}
	}
}
