$violet: hsl(279.8deg 53.44% 37.06%);
// $orange: hsl(5.2deg 85.23% 65.49%);
$red: hsl(348.3deg 79.9% 60.98%);
$yellow: hsl(30.81deg 92.96% 60.98%);
$teal: hsl(181.67deg 43.55% 51.37%);
$gray10: hsl(0deg 0% 10.2%);
$gray40: hsl(0deg 0% 40%);
$gray50: hsl(0deg 0% 50.2%);
$gray90: hsl(0deg 0% 90.2%);
$gray95: hsl(0deg 0% 94.9%);
$gray98: hsl(0deg 0% 98.04%);
