$bp: (
	'mobile1/3': 280px,
	'mobile2/3': 320px,
	'mobile3/3': 540px,
	'tablet1/3': 768px,
	'tablet2/3': 1024px,
	'tablet3/3': 1280px,
	'laptop1/3': 1366px,
	'laptop2/3': 1440px,
	'laptop3/3': 1600px,
	'desktop1/3': 1920px,
	'desktop2/3': 2560px,
	'desktop3/3': 3840px,
);

@function part($num, $gap) {
	// @return calc(100% / #{$num} - #{$gap} * (1 - (1 / #{$num})));
	@return calc(100% / $num - $gap + $gap / $num);
}

@function col($num, $gap, $cols: 12) {
	// @return calc(100% / $cols * #{$num} - #{$gap} * (1 - (1 / (#{$cols} / #{$num}))));
	@return calc(100% / $cols * $num - $gap * (1 - $num / $cols));
}

@function context-size($target, $context) {
	@return calc(#{$target} / #{$context} * 100%);
}
