extends /src/markup/base

block append vars
	-
		curpage = 'portfolio/axas-project';
		pageTitle = self.title.portfolio.axas[curlang];

block append meta
	meta(name='description' content='Axas project: a part of the portfolio of Dima Radushev')

block append styles
	link(rel='stylesheet' href='/css/pages/portfolio/axas-project/axas-project.css')

block append scripts

block header
	include /src/markup/blocks/portfolio/axas-project/header

block content
	include /src/markup/blocks/portfolio/axas-project/about
	include /src/markup/blocks/portfolio/axas-project/gallery
