extends /src/markup/base

block append vars
	-
		curpage = 'portfolio/axas-project';
		pageTitle = self.title.portfolio.axas[curlang];

block append meta
	meta(name='description' content='Axas project: a part of the portfolio of Dima Radushev')

block append styles
	link(rel='stylesheet' href='/css/pages/portfolio/portfolio.css')

block append scripts

block header
	//- include ../../blocks/portfolio/header

block content
	//- include ../../blocks/portfolio/main
