@use '../../utils' as *;
@use 'sass:map';
@use 'sass:list';
@use 'sass:string';

$-education-items: (
	'item1': 'rectangle; #{$violet}',
	'item2': 'circle; #{$yellow}',
	'item3': 'triangle; #{$teal}',
	'item4': 'rectangle; #{$red}',
	'item5': 'circle; #{$violet}',
	'item6': 'triangle; #{$yellow}',
	'item7': 'rectangle; #{$teal}',
	'item8': 'circle; #{$red}',
	'item9': 'triangle; #{$violet}',
	'item10': 'rectangle; #{$yellow}',
);

@mixin main {
	@each $key-item, $item in $-education-items {
		.experience-#{$key-item}-time {
			&::before {
				@include shape-render(list.nth(string.split($item, '; '), 1));
				color: string.unquote(list.nth(string.split($item, '; '), 2));
			}
		}
	}

	.experience-item-time-span-to {
		&::after {
			content: ' - ';
		}
	}

	@media (min-width: map.get($bp, 'tablet1/3')) {
		.experience-item {
			&:not(:last-child)::after {
				left: 146px;
			}
		}

		.experience-item-time-span {
			display: block;
			width: 7ch;
			&::after {
				content: none;
			}
		}
	}

	@media (min-width: map.get($bp, 'tablet3/3')) {
		.experience-item {
			&:not(:last-child)::after {
				left: 160px;
			}
		}
	}
}
