@use '/src/styles/utils' as *;
@use 'sass:map';

@mixin about {
	.portfolio-project-about {
		margin-bottom: 48px;
	}

	.portfolio-project-figure {
		display: none;
	}

	.portfolio-project-title {
		width: max-content;
		margin-bottom: 12px;
		&::after {
			margin: 12px 0 0;
		}
	}

	.portfolio-project-desc-info {
		margin-bottom: 24px;
	}

	.btn-backto {
		margin-bottom: 48px;
		&::before {
			content: url('/media/backTo.svg');
		}
		@media (pointer: coarse) {
			&:active {
				&::before {
					translate: -3px 0;
				}
			}
		}
		@media (pointer: fine) {
			&:hover {
				&::before {
					translate: -3px 0;
				}
			}
		}
	}

	.btn-watch {
		margin-top: 12px;
		&::after {
			content: url('/media/behanceLogo.svg');
		}
	}

	@media (min-width: map.get($bp, 'tablet1/3')) {
		.portfolio-project-about {
			--gap: 48px;
			display: flex;
			align-items: center;
			gap: var(--gap);
		}

		.portfolio-project-figure {
			display: block;
			flex-shrink: 0;
			width: col(7, var(--gap));
		}
	}

	@media (min-width: map.get($bp, 'tablet2/3')) {
		.main-pages-body {
			--gap: 72px;
		}
	}
}
