extends ../base

append vars
	-
		curlang = "en",
		pageTitle = 'Contacts page';

block header
	header.header
		include ../blocks/nav
block content
	p.text sdsafsadf
	p.text
	img.header-img(alt="photo 1 of dima radushev" src='/images/1contactsRadushev-min.jpg')
