extends ../base

block append vars
	-
		curpage = 'contacts';
		pageTitle = self.title.contacts[curlang];

block append styles
	link(rel='stylesheet' href='/css/pages/contacts.css')

block append scripts
	script(src='/js/pages/contacts.js')

block header
	header.header

block content
	//- img(src='/media/gymDevicesKeyview.jpg' srcset='/media/gymDevicesKeyview@2.jpg 2x')
