extends ../base

append vars
	-
		curpage = 'contacts';
		pageTitle = self.title.contacts[curlang];

append styles
	link(rel='stylesheet' href='/css/pages/contacts.css')

append scripts
	script(src='/js/contacts.js')

block header
	header.header
		include ../blocks/nav

block content
	//- img(src='/media/gymDevicesKeyview.jpg' srcset='/media/gymDevicesKeyview@2.jpg 2x')

block footer
	include ../blocks/footer

