extends ../base

append vars
	-
		curlang = 'en';
		//- basedir = curlang == 'en' ? basedir : '../';
		pageTitle = 'Home page';

append styles
	link(rel='stylesheet' href='/css/index.css')

block header
	header.header
block content
	p.text.icon-arrow-menu asds
	p.text.icon-arrow-menu asds
	p.text.icon-arrow-menu !{obj.key} asdsfsd
	img.header-img(src='/images/png/photo-radushev-min.png' alt="photo of dima radushev")
