extends ../base

append vars
	-
		curlang = 'en';
		pageTitle = 'ok Home page';

append styles
	link(rel='stylesheet' href='/css/pages/index.css')

append scripts
	script(src='/js/index.js')

block header
	header.header
		include ../blocks/nav
block content
	p.text= self.results.item5.title[curlang]