extends ../base

append vars
	-
		pageTitle = self.title.index[curlang];

append styles
	link(rel='stylesheet' href='/css/pages/index.css')

append scripts
	script(src='/js/index.js')

block header
	header.header

block content
	//- img(src='/media/gymDevicesKeyview.jpg' srcset='/media/gymDevicesKeyview@2.jpg 2x')

block footer
	include ../blocks/footer