extends ../base

block append vars
	- pageTitle = self.title.index[curlang];

block append styles
	link(rel='stylesheet' href='/css/pages/index.css')

block append scripts
	script(src='/js/index.js')

block header
	include ../blocks/index/header

block content
	include ../blocks/index/results
	include ../blocks/index/services
	include ../blocks/index/advantages
	include ../blocks/index/myportfolio
	include ../blocks/index/myclients
