extends ../base

append vars
	-
		curlang = 'en';
		//- basedir = curlang == 'en' ? basedir : '../';
		pageTitle = 'Home page';

append styles
	link(rel='stylesheet' href='/css/index.css')

block header
	header.header
block content
	p.text.icon-arrow-menu asds
	a.link(href="contacts.html") Contact page
	p.text.icon-arrow-menu !{obj.key} asdsfsd
	//- figure
	img.header-img(src='/images/1contactsRadushev-min.jpg' alt="photo 1 of dima radushev")
	//- figure
	img.header-img(src='/images/animation.gif' alt="photo 2 of dima radushev")
	//- figure
	img.header-img(src='/images/3contactsRadushev-min.png' srcset='/images/3contactsRadushev-min@2x.png 2x' alt="photo 3 of dima radushev")
