extends ../base

append vars
	-
		curlang = 'en';
		//- basedir = curlang == 'en' ? basedir : '../';
		pageTitle = 'Home page';

append styles
	link(rel='stylesheet' href='/css/index.css')

block header
	header.header
block content
	//- p.text.icon-arrow-menu asds
	a.link(href="contacts.html") Contact page
	p.text.icon-arrow-menu !{obj.key} asdsfsd afdsasd sdfa
	//- figure
	img.header-img(src='/media/1contactsRadushev-min.jpg' alt="photo 1 of dima radushev")
	//- figure
	img.header-img(src='/media/animation.gif' alt="photo 2 of dima radushev")
	//- figure
	img.header-img(src='/media/3contactsRadushev-min.png' srcset='/media/3contactsRadushev-min@2x.png 2x' alt="photo 3 of dima radushev")
