extends ../base

append vars
	-
		curlang = 'en';
		pageTitle = self.title.index[curlang];

append styles
	link(rel='stylesheet' href='/css/pages/index.css')

append scripts
	script(src='/js/index.js')

block header
	header.header
		include ../blocks/nav

block content
	//- img(src='/media/gymDevicesKeyview.jpg' srcset='/media/gymDevicesKeyview@2.jpg 2x')
	//- p.text= self.results.item5.title[curlang]

block footer
	include ../blocks/footer