extends ../base

append vars
	-
		curlang = 'en';
		//- basedir = curlang == 'en' ? basedir : '../';
		pageTitle = 'Home page';

append styles
	link(rel='stylesheet' href='/css/index.css')

append scripts
	script(src='/js/index.js')

block header
	header.header
		include ../blocks/nav
block content
	p.text.icon-arrow-menu asds
	a.link(href="contacts.html") Contact page
	p.text.icon-arrow-menu !{obj.key} asdsfsd afdsasd sdfa
	//- p.text.icon-arrow-menu !{self.mainscreen.title.text3.es}
	ul.list
		img.list__item.header-img(src='/media/1contactsRadushev-min.jpg' alt="photo 1 of dima radushev")
		img.list__item.header-img(src='/media/animation.gif' alt="photo 2 of dima radushev")
		img.list__item.header-img(src='/media/3contactsRadushev-min.png' srcset='/media/3contactsRadushev-min@2x.png 2x' alt="photo 3 of dima radushev")
